@import "mixin.scss";

.branch{padding-block: 120px;
    .branch-wrapper{
        .branch-inner{
            width: 100%;
           
            .branch-top{ padding-inline:100px;
                .thk-lin{
                    width:56px;
                    height:8px;
                    display:block;
                    margin-bottom:16px;
                    background-color:#ffffff;
                }
                .serv-title{line-height:58px; font-size:48px; color:#ffffff; max-width:780px; @include font-modern-era(900);}
            }
            .branch-bottom{ margin-top:32px; padding-block:48px; padding-inline: 100px; position:relative; z-index:2;
            
                .bg-overlay{
                   
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity: 0;
                    filter: contrast(0.75) brightness(0.5);
                    transition: 0.3s ease-in-out;
                    pointer-events: none;
                }
                .brc-inner{ display:flex;  column-gap: 24px; flex-wrap:wrap; z-index: 2; position: relative;
                    
                    .brc-wrap{width: calc(100% / 3 - (2 * 24px) / 3); padding: 12px; border-top: 4px solid #fff; transition:all 0.3s ease-in-out;
                        .brc-tlt{ display:flex; justify-content:space-between; align-items:center;
                            h2{ transition:all 0.3s ease-in-out; font-size: 36px; color: #fff; margin-bottom:12px; line-height: 41px;  @include font-modern-era(900);}
                            svg{opacity:0; transition:all 0.3s ease-in-out; }
                        }
                        .brc-place{ transition:all 0.3s ease-in-out; font-size:18px; line-height:27px; color:#ffffff; margin-bottom:4px; @include font-modern-era(900); }
                        .brc-txt{ 
                            .brc-phn{ opacity:0; height:24px; transition:all 0.3s ease-in-out; font-size:16px; line-height:24px; color:#ffffff; @include font-modern-era(700); }
                            .brc-email{opacity:0;  transition:all 0.3s ease-in-out; font-size:16px; line-height:18px; color:#ffffff; @include font-modern-era(700);}
                        }
                    &:hover{background-color:#ffffff;
                        .brc-tlt{
                            h2{color:$theme-clr;}
                            svg{opacity:1;}
                        }
                        .brc-place{color:$theme-clr;}
                        .brc-txt{ opacity:1;
                            .brc-phn{opacity:1; color:$theme-clr }
                            .brc-email{opacity:1;  color:$theme-clr}
                        }
                    
                      }
                    }
                }
            }
        }
    }
}