@import "mixin.scss";


.service{
    .service-wrapper{
        .service-inner{
            background-image: url("../images/Faq-bg.jpeg"); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            padding-block:100px;
            padding-inline:100px;
            .service-top{
                .thk-lin{
                    width:56px;
                    height:8px;
                    display:block;
                    margin-bottom:16px;
                    background-color:#ffffff;
                }
                .serv-title{line-height:58px; font-size:48px; color:#ffffff; max-width:780px; @include font-modern-era(900);}
            }
            .service-bottom{ margin-top:32px;
                .serv-link{
                    .serv-link-inner{
                        .serv-link-wrap{&:first-child{border-top:1px solid #ffffff;}}
                        .serv-link-wrap{display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #fff;
                           padding-inline: 16px; padding-block: 13px; transition:all 0.3s ease-in-out;
                           .lnk-ttl{
                            font-size:24px; @include font-modern-era(900); line-height:27px; color:#ffffff; transition:all 0.3s ease-in-out;
                           }
                           .lnk-arrow-btn{width: 31px; height: 31px; background-color: #7fc3ba; display:flex; justify-content:center; align-items:center; border-radius: 50%;
                            transition:all 0.3s ease-in-out;
                            }
                            &:hover{ background-color:#7fc3ba;
                                .lnk-ttl{ color:#000000;}
                                .lnk-arrow-btn{transform: translateX(10px);}
                            
                            }
                        }
                    }
                }


               
            }
        }
    }
}